<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curda Corp</title>
    <link rel="stylesheet" href="../style/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Hind+Guntur|Noto+Sans+KR" rel="stylesheet">

</head>
<body>
    <div class="container">
            <header class="">
                    <h1>Curda Corp</h1>
                </header>
                <main>
                    <form action="" class="column box">
                        <h1>Iniciar Sesion</h1>
                            <label for="username">Nombre de Usuario</label>
                            <input type="text" name="username" id="">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id=""> <br/>
                        <button type="submit" class="button1">Iniciar</button> <br/>
                        <button type="button" onclick="location.href='registro.html'" class="button2">No tengo cuenta</button>
                    </form>
                </main>
            <footer>
                <p>Curda Corp Ⓒ CURDAAAAAAAAAA</p>
            </footer>

    </div>
</body>
</html>